<div class="main-page-container">
  <div class="tags-container" *ngIf="tags">
    <mat-chip-listbox>
      <mat-chip class="tag" *ngFor="let tag of tags">
        {{ tag.name }}
        <button matChipRemove aria-label="Remove orange" (click)="removeTag(tag)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-listbox>

  </div>

  <div class="main-page-form-container">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Add new tag:</mat-label>
        <input id="name" type="text" matInput
               formControlName="name">
      </mat-form-field>

      <button mat-stroked-button type="button" [disabled]="!form.valid" (click)="addTag()">Add tag</button>
    </form>
  </div>

</div>
