<div class="left-menu">

    <nav class="left-menu">

        <ul>
            <li><a routerLink="tags" routerLinkActive="active">Tags</a></li>
            <li><a routerLink="tic-tac-toe" routerLinkActive="active">Tic tac toe</a></li>
            <li><a routerLink="catch-me" routerLinkActive="active">Catch me!</a></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </nav>

</div>
