<div class="header">
    <div class="logo-container" (click)="navigateHome()">

    </div><!--   logo-container -->

    <ng-container *ngIf="(profile$ | async) as profile">
        <ng-container *ngIf="profile.userId != undefined">
        <div class="user-menu">
            <span class="user-menu-button">
                <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
                    <span>{{ profile.firstName}} {{profile.lastName}}</span>

                </button>
            </span>


            <mat-menu  #menu="matMenu">
                <button mat-menu-item (click)="goToUserProfile()">
                    <mat-icon color="primary">settings</mat-icon>
                    Change User settings
                </button>
                <button mat-menu-item>
                    <mat-icon color="primary">add_alert</mat-icon>
                    Alerts
                </button>
                <button mat-menu-item (click)="logoutUser()">
                    <mat-icon color="primary" >logout</mat-icon>
                    Logout
                </button>
            </mat-menu>

        </div> <!-- user-menu -->
        </ng-container>
    </ng-container>

    <ng-container *ngIf="(profile$ | async)?.userId == undefined">
        <div  class="not-logged-in" (click)="goToLogin()">
            <span >{{log_in}}</span>
        </div>
    </ng-container>

</div> <!-- header -->
